body {
    background: url("https://wallpaperset.com/w/full/6/4/c/5472.jpg") no-repeat center center fixed; 
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: rgba(30, 28, 160, 0.4);
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h2 {
    background-color: rgba(30, 28, 160, 0.5);
    font-family: 'Blinker', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 350px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

h4 {
    text-align: center;
    padding: 5px;
    background-color: rgba(30, 28, 160, 0.5);
    font-family: 'Blinker', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 350px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  h5 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(30, 28, 160);
    padding: 3px;
    margin: 30px;
      
  }

#userText {
    width: 100%;
    height: 450px;
    padding: 5px;
    font-family: 'Blinker', sans-serif;
    background-color: rgb(236,35,156, .3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#wordFinderDiv {
    color: white;
    font-family: 'Blinker', sans-serif;
    border-radius: 5px;
    background-color: rgb(236,35,156, .3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}

#wordInput {
    width: 45%;
}

.centered {
    text-align: center;
}

.bordered {
    border: solid 1px white;
}

.topSpace {
    margin-top: 8px;
}

#analyzeText {
    margin-bottom: 15px;
}

#graphDisplayWords {
    font-size: 20px;
}

#graphDisplay {
    display: flex;
    white-space: pre;
    font-family: 'Blinker', sans-serif;
    color: white;
    background-color: rgba(253, 253, 253, 0.6);
    border-radius: 5px;
    float: left;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #mychart {
    display: inherit;
    }

    #title {
    background-color: aqua;
    text-align: center;
    height: 13em;

}

#lyricsBtn {
    height: 3em;
    text-align: center;
}

#track, #artist {
    background-color: rgb(0, 255, 255);
    text-align: center;
}

#songInputs {
    margin-top: -20;
}

input {
    outline: none;
    text-align: center;
}

#userLyricsAnalysis {
    padding-top: 130px;
    background-color: rgb(255, 255, 255, .5);
    height: 30em;
    margin-top: 2em;
    border-radius: 1em;
}

#emotionsScore {
    padding-top: 130px;
    background-color: rgb(255, 255, 255, .5);
    height: 30em;
    margin-top: 2em;
    border-radius: 1em;
}

#graphDisplay {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin-top: 2em;
    height: 30em;
    justify-content: center;
  }
  
  #mychart {
    display: inherit;
  }

  #lyricsDisplay {
    white-space: pre;
    overflow-y: scroll;
    height: 20em;
    font-family: 'Blinker', sans-serif;
    color: white;
    background-color: rgba(30, 28, 160, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #lyricSpot {
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: 'Blinker', sans-serif;
    
  }

  #analysisPrompt {
    padding-top: 80px;
    text-align: center;
    font-family: 'Blinker', sans-serif;
}

p {
 text-align: center;   
}

  .smallerLeftMargin {
      margin-left: 5%;
  }

  button {
    background-color:  rgba(87, 12, 83, 0.5);
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Blinker', sans-serif;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  button:hover {
    background-color:rgba(247, 3, 214, 0.6); /* pink */
  }

