body {
    background: url("https://wallpaperset.com/w/full/6/4/c/5472.jpg") no-repeat center center fixed; 
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: rgba(30, 28, 160, 0.4);
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h2 {
    background-color: rgba(30, 28, 160, 0.5);
    font-family: 'Blinker', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 350px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

h4 {
    text-align: center;
    padding: 5px;
    background-color: rgba(30, 28, 160, 0.5);
    font-family: 'Blinker', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 350px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  h5 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(30, 28, 160);
    padding: 3px;
    
      
  }

  .withSpace {
    margin: 30px;
  }

  .topSpace {
      margin-top: 15px;
  }

#userText {
    width: 100%;
    height: 450px;
    padding: 5px;
    font-family: 'Blinker', sans-serif;
    background-color: rgb(236,35,156, .3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#wordFinderDiv {
    color: white;
    font-family: 'Blinker', sans-serif;
    border-radius: 5px;
    background-color: rgb(236,35,156, .3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}

#wordInput {
    width: 45%;
}

.centered {
    text-align: center;
}

.bordered {
    border: solid 1px white;
}

.topSpace {
    margin-top: 8px;
}

#analyzeText {
    margin-bottom: 15px;
}

.graphDisplayWords {
    font-size: 20px;
    position: absolute;
}

#graphDisplay {
    display: flex;
    white-space: pre;
    font-family: 'Blinker', sans-serif;
    color: white;
    background-color: rgba(253, 253, 253, 0.6);
    border-radius: 5px;
    float: left;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #title {
    background-color: aqua;
    text-align: center;
    height: 13em;

}

#lyricsBtn {
    height: 3em;
    text-align: center;
}

#track, #artist {
    font-size: 13px;
    text-align: center;
}

#songInputs {
    margin-top: -20px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    outline: none;
    text-align: center;
}

#userLyricsAnalysis {
    padding-top: 120px;
    background-color: rgb(255, 255, 255, .5);
    height: 30em;
    margin-top: 2em;
    border-radius: 1em;
}

#emotionsScore {
    padding-top: 120px;
    background-color: rgb(255, 255, 255, .5);
    height: 30em;
    margin-top: 2em;
    border-radius: 1em;
}

#graphDisplay {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    margin-top: 2em;
    height: 30em;
    justify-content: center;
  }

  #lyricsDisplay {
    white-space: pre;
    overflow-y: scroll;
    height: 20em;
    font-family: 'Blinker', sans-serif;
    color: white;
    background-color: rgba(30, 28, 160, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #lyricSpot {
    padding-bottom: 0px;
    margin-top: -2px;
    font-family: 'Blinker', sans-serif;
    
  }

  #analysisPrompt {
    padding-top: 60px;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    padding: 2px;
}

p {
 text-align: center;   
 font-family: 'Blinker', sans-serif;
}

  .smallerLeftMargin {
      margin-left: 5%;
  }

  button {
    background-color:  rgba(87, 12, 83, 0.5);
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Blinker', sans-serif;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  button:hover {
    background-color:rgba(247, 3, 214, 0.6); /* pink */
  }

  #submit, #analyze {
      font-size: 15px;
      padding: 2px;
      width: 150px;
      margin-bottom: 10px;
  }

  textarea[id^="userText"]::placeholder {
    color: ivory;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right!important;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }